<%-include("../../partials/head", {title: "Login", pageStyles: "forms" }) %>
<%- include("../../partials/header", {title: "Login Here"} ) %>
<%- include("../../partials/flash") %>

<div class="form-container">
    <h1>Login to Your Account</h1>

    <form action="/login" method="POST" class="form">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" required placeholder="Enter valid email">

        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" minlength="8" required placeholder="Enter password">

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/register">Register here</a>.</p>
</div>
<%- include("../../partials/footer") %>