<%- include("../../partials/head", {title: "Sign Up", pageStyles: "forms" }) %>
<%- include("../../partials/header", {title: "Sign Up Here"} ) %>

<div class="form-container">
    <h1>Register for an Account</h1>

    <% include("../../partials/flash") %>

    <form action="/register" method="POST">

        <label for="first_name" class="form-label">First Name</label>
        <input type="text" name="first_name" id="first_name" required>

        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" name="last_name" id="last_name" required>

        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" required>

        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" required>

        <label for="emailConfirm" class="form-label">Confirm Email</label>
        <input type="email" name="emailConfirm" id="emailConfirm" required>

        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" required>

        <label for="passwordConfirm" class="form-label">Confirm Password</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm" required>

        <button type="submit">Create Account</button>

    </form>

    <p>Already have an account? <a href="/login">Login here</a>.</p>
</div>
<%- include("../../partials/footer") %>