<%- include("partials/head", { title: "About Auto-Correct Motors", pageStyles: "about" }) %>
<%- include("partials/header") %>
<%- include("partials/flash") %>

<h1>About Auto-Correct</h1>


<%- include("partials/footer") %>