<%- include("partials/head", { title: "Home", pageStyles: "home" }) %>

    <%- include("partials/header") %>
    <%- include("partials/flash") %>

    <h1>Welcome to Auto-Correct Motors</h1>

    <p>Where we dish out correct autos, not grammar.</p>

    <div class="hero-container">
        <div class="hero-image">
            <img src="/images/steering-wheel.jpg" alt="Hero Car Image">
        </div>
        <div class="hero-content">
            <button onclick="location.href='/vehicles/inventory/'" class="btn btn-primary">Browse Our Vehicles</button>
            <p>To find a wheel, I mean DEAL, you can get behind.</p>

        </div>
    </div>

    <%- include("partials/footer") %>
</body>
</html>