<div class="flash-messages">
    <% if (success && success.length > 0) { %>
        <div class="flash success"></div>
            <% success.forEach(msg => { %>
                <p><%= msg %></p>
            <% }) %>
    <% } %>

    <% if (error && error.length > 0) { %>
        <div class="flash error"></div>
            <% error.forEach(msg => { %>
                <p><%= msg %></p>
            <% }) %>
    <% } %>

</div>