</div> <!-- End of container-->

<footer class="site-footer"> 
    <div class="container"> 
        <p>&copy; <%= new Date().getFullYear() %> Auto-Correct Motors</p> 
    </div> 
</footer> 
</body> 
</html>