<header class="site-header"> 
    <div class="container nav-wrap"> 
        <a class="brand" href="/">Auto-Correct Motors</a> 
        <nav> 
            <a href="/">Home</a> 
            <a href="/about">About</a>
            <a href="/vehicles">Inventory</a> 
            <a href="/contact">Contact Us</a> 

            <!-- Show login/register links if not authenticated, otherwise show logout link -->
            <% if (locals.user) { %>
              <a href="/">Home</a>
              <a href="/profile">Profile</a>
              <a href="/logout">Logout</a>
            <% } else { %>
              <a href="/login">Login</a>
              <a href="/register">Register</a>
            <% } %>
        </nav> 
    </div> 
</header>