<%- include("../partials/head", { title: "404 - Page Not Found", pageStyles: "main" }) %>
<%- include("../partials/header") %>
<main>
    <img src="/images/404.png" style="width: 100%;" alt="404 looks like you're lost">
    <p>Return to the <a href="/">homepage</a> to continue browsing.</p>
</main>
<%- include("../partials/footer") %>
